option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    GzipCompression: true
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

